<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title"><%= 'Quiz/' + @quiz.name%></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
                <h1>Questions for quiz</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
