<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title"><%= 'Quiz/' + @quiz.name%></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h3>Questions in this quiz:</h3><hr>
                <ul>
                <% @quiz.questions.each do |question| %>
                  <li><%= question.title %></li>
                <% end %>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
